<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>gthrow</Title>
            <Shortcut>gthrow</Shortcut>
            <Author>Dennis Stanze</Author>
            <Description>Create an ASSERT_THROW statement</Description>
            <SnippetTypes>
                <SnippetType>Expansion</SnippetType>
            </SnippetTypes>
        </Header>
        <Snippet>
            <Declarations>
                <Literal Editable="true">
                    <ID>expression</ID>
                    <Default>some_function_call</Default>
                </Literal>
                <Literal Editable="true">
                    <ID>exception</ID>
                    <Default>std::runtime_error</Default>
                </Literal>
            </Declarations>
            <Code Language="CPP" Format="CData">
                <![CDATA[ASSERT_THROW($expression$, §exception$);]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>